@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');


body{
    background-color: brown;
    color: maroon;
    font-family: 'Permanent Marker', cursive;
    margin: auto;
}

#content{
    border: 20px solid brown;
    background-color:  rgb(237, 222, 199);
    padding: 3% 3% 3% 3%;
    margin-left: 2%;
    margin-right: -3%;
}

header{
    width: 98%;
    background-color: pink;
    height: 85px;
    margin: 0%;
    border: 13px brown solid;
    position:fixed;
    z-index: 5;
}

nav a{
    margin-left:20px;
}

#profilePic{
    border-radius: 50%; 
    position:relative; 
    left:40%; 
    margin-top:3%;
}
.sections{
    color: red;
    padding: 5px;
    margin: 5px;
    font-weight: 400;
    font-size: xx-large;
}

/*==============================
            SKILLS
================================*/
#skills ul, #experience + h2{
    text-transform: uppercase;
    color:purple;
}

#skills ul li {
    border: 2px solid red;
    background-color: cornsilk;
    display: inline-block;
    margin-right: 30px;
    padding: 5px;
}

/*==============================
            EXPERIENCE
================================*/

#experienceList{
    display: flex; /* or inline-flex */
    flex-direction: column;
    justify-content:space-between;
    gap: 5px;

}

#experienceList p{
    border: 2px solid red;
    padding: 5px;
}

#experienceList p:nth-child(odd) {
    background: rgb(246, 200, 230);
  }

#experienceList p:nth-child(even) {
    background: rgb(172, 219, 232);
  }


  /*==============================
                FORM
  ================================*/

#leave_message{
    /* border: 1px rgb(227, 10, 155) solid; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 15px;
  }

#leave_message div{
    background-color: rgb(133, 199, 240);
    border: 1px rgb(98, 64, 233) dotted;
  }

#item-name{
    grid-column: 1/2;
}

#item-email{
    grid-column: 1/2;
}
#item-message{
    grid-column: 2/3;
    grid-row: 1/3;
}

#item-submit{
    grid-column: 1/3;
}



label{
    font-size: 15px;
    color: orangered;
    margin: 8px;
}

input, textarea{
    font-size: 12px; 
    padding: 5px;
    border: 3px double orange;
    margin: 10px;
}

#message{
    height: 50%;
    width: 50%;
}

#name, #email{
    height: 40%;
    width: 50%;
}



label[for="message"]{
    top: -28px;
    position: relative;
}

button[type="submit"] {
    border-radius: 10px;
    border: 2px dotted green;
    box-shadow: aqua;
    background-color: rgb(221, 68, 68);
    color:white;
    width: 100%;
}

#removeBtn{
    background-color: red;
    color:white;
    padding: 3px;
}

/*==============================
            FOOTER
================================*/

footer{
    background-color: brown;
    color:white;
    margin-bottom: -10px;
    height: 45px;
    padding: 5px;
    margin-top:10px;
    width: 104%;
    margin-left: -20px;
}

#copyright{
    margin-left: 3%;
}
